#default-questions-container {
  background-color: white;
  padding-left: 40px;
  padding-top: 24px;
  padding-right: 40px;
  margin-right: 50px;

  #default-questions {
    color: #C3BAAA;
    font-size: 16px;
    line-height: 26px;
    padding-inline-start: 0.5rem;

    li {
      margin-bottom: 15px;
    }

    input, .text {
      color: #4A4A4A;
      font-family: Karla;
      font-size: 16px;
      line-height: 23px;
      // width: 77%;
    }

    .float-right {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  input {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #979797;
    width: 77%;

    &:focus {
      border-bottom-width: 2px;
    }
  }

  .press-enter {
    color: rgba(125,124,122,0.32);
    font-family: "MADE Evolve Sans";
    font-size: 12px;
    right: -11px !important;
  }
}

#meetings-container {
  background-color: white;
  font-family: 'Karla';
  max-width: 62.333333%;
  padding: 0;

  form {
    padding-left: 55px;
    padding-right: 55px;
  }

  #date-range > .btn-daterange {
    margin-bottom: 0;
    padding-left: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  #date-range > .btn-daterange .icon-calendar {
    height: 16.17px;
    width: 24px;
  }
  #date-range > .btn-daterange .icon-down-nav {
    width: 6.78px;
    background-position: center;
  }

  #search-bar {
    background-color: #F9F9F9;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    input {
      background-color: transparent;
      border: 0;
      padding-left: 5px;
      width: 90%;
    }
  }

  .table th, .table td {
    border: 0;

    &:first-child {
      padding-left: 2.5rem;
    }
  }

  .table > thead th span {
    color: #C3BAAA;
    font-weight: bold;

    &.icon-holder {
      font-size: 9px;
      margin-left: 14px;
    }
  }

  .table > tbody td {
    font-family: 'MADE Evolve Sans';
    font-size: 16px;

    
  }

  .table > tbody td.actions {
    font-family: inherit;
    font-size: 12px;
    vertical-align: middle;
  }
}

