#meetings-container {
  font-family: 'Karla';
  padding: 0;

  form {
    padding-left: 55px;
    padding-right: 55px;
  }

  #date-range > .btn-daterange {
    background-color: transparent;
    margin-bottom: 0;
    padding-left: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  #date-range > .btn-daterange .icon-calendar {
    height: 16.17px;
    width: 24px;
  }
  #date-range > .btn-daterange .icon-down-nav {
    width: 6.78px;
    background-position: center;
  }

  #search-bar {
    background-color: #F9F9F9;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    input {
      background-color: transparent;
      border: 0;
      padding-left: 5px;
      width: 90%;
    }
  }

  .table {
    background-color: white;
  }

  .table th, .table td {
    border: 0;

    &:first-child {
      padding-left: 2.5rem;
    }
  }

  .table > thead th span {
    color: #C3BAAA;
    font-weight: bold;

    &.icon-holder {
      font-size: 9px;
      margin-left: 14px;
    }
  }

  .table > tbody td {
    font-family: 'MADE Evolve Sans';
    font-size: 16px;

    
  }

  .table > tbody td.actions {
    font-family: inherit;
    font-size: 12px;
    vertical-align: middle;
  }
}

