.feedback-shoutout, .feedback-cit {
  float: right;
  color: #007aff;
  font-size: 14px;
  font-weight: bold;
}

.feedback-cit {
  text-transform: uppercase;
}

.feedback-shoutout {
  text-transform: capitalize;
}