.row
  .col-md-10.m-auto
    .row
      .col-md-1
        .users-avatar
          .avatar-user
            .avatar-name YV
          .avatar-user
            .avatar-name VA
      .col-md-11
        h1.title 1-on-1 with Yana
        h3 December 3, 4:00 PM EST
        .user-actions
          button.btn.btn-instant-feedback.btn-md.btn-instant-feedback-dark.mr-3 Reschedule
          button.btn.btn-instant-feedback.btn-md.btn-instant-feedback-dark Mark as Ready
    .row
      #talkingPoints.col-md-12
        h4.font-bold.text-brown Talking Points
        .row
          .col-md-12.m-auto.text-center
            .mt-5
              h4.font-semi-bold.text-idle You currently do not have any talking points set.
              button.btn.btn-instant-feedback.btn-instant-feedback-muted Add Talking Points