.users-avatar {
  position: relative;
}
.avatar-user {
width: 58px;
height: 56px;
border-radius: 100px;
background: #C3BAAA;
margin: auto;
display: inline-block;

  .avatar-name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -3px;
  }

  &:last-child {
    position: absolute;
    left: 42px;
  }
}

.title {
  color: #C3BAAA;
  font-weight: bold;
}

#talkingPoints {
  margin-top: 5rem;

  .btn-instant-feedback-muted {
    border: 1px solid #C3BAAA;
    font-size: 16px;
    padding: 6px 12px;
  }

  .card-body {
    background-color: #fffbf9;
    font-size: 18px;
  }

  .card-body .listStyle {
    color: #c3baaa;

    > span {
      color: inherit;
    }
  }

  .card-actions {
    text-align: right;

    > button {
      background-color: transparent;
      border: 0;
      font-size: 18px;
      outline: none;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}