.users-avatar {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.user-header {
  display: inline-block;
  margin-left: calc(18% - 116px);
}

.avatar-user {
width: 58px;
height: 56px;
border-radius: 100px;
background: #C3BAAA;
margin: auto;
display: inline-block;

  .avatar-name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -3px;
  }

  &:last-child {
    position: absolute;
    left: 42px;
  }
}

.title {
  color: #C3BAAA;
  font-weight: bold;
}

#talkingPoints {
  margin-top: 5rem;

  .btn-instant-feedback-muted {
    background-color: transparent;
    border: 1px solid #C3BAAA;
    font-size: 16px;
    padding: 6px 12px;
  }

  .card {
    border-color: #fffbf9;
  }

  .card-body {
    background-color: #fffbf9;
    font-size: 18px;
    padding: 3rem;
    padding-top: 1rem;
  }

  .card-body .listStyle {
    color: #c3baaa;
    > li {font-size: xx-large;}
    li > span {
      color: #4a4a4a;
      font-size: 18px;
      position: relative;
      top: -5px;
      font-weight: bold;
    }
  }

  .card-actions {
    text-align: right;
    min-height: 30px;

    > div > button {
      background-color: transparent;
      border: 0;
      font-size: 18px;
      outline: none;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .qrtr-height {
    height: 25vh;
  }

  .user-notes {
    margin-top: 15px;
    margin-bottom: 15px;

    .table-cell > .opacity-75 {
      opacity: 0.75;
    }

    .form-add-talking-point {
      min-height: 120px;
    }

  }
}

.no-list-style {
  list-style: none;
}

.form-add-talking-point {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #C3BAAA;
  min-height: 40px;
  resize: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

}

.form-add-talking-point:focus{
  border-bottom: 2px solid #C3BAAA;
  outline: none;
}

#user-add-topic button {
  background: transparent;
  border: 0;
}