#manager-overview.row
  .col-md-9.m-auto
    .mt-5
      .row
        .col-md-8
          h4.section-heading.text-brown.mb-5 Action Items
          .no-content(*ngIf="meets?.length == 0")
            span.text-muted No action items currently assigned.
          .action-items-scroll
            .action-items-box(*ngFor="let obj of action_items | paginate: paginationControls")
              div
                h4.user-name.font-bold.inline-block {{ obj.employee.display_name }}
                h4.meeting-date.font-bold.inline-block {{ obj.scheduled_at | date: 'MMMM d' : 'EDT' }}
                ng-container(*ngIf="obj.action_items.manager.length < 1")
                  ul.action-item-list.reset
                    li
                      span.text-muted No action items currently assigned.
                  br
                ng-container(*ngIf="obj.action_items.manager.length > 0")
                  ul.action-item-list
                    li(*ngFor="let action of obj.action_items.manager")
                      span {{ action }}
          pagination([config]="paginationControls", (pageChange)="pageChange($event)")

        .col-md-4
          h4.section-heading.text-brown.mb-5 1-on-1s This Week
          .no-content(*ngIf="meetsThisWeek?.length == 0")
            span.text-muted No upcoming 1-on-1 meetings.
          #upcoming-meetings.mb-5
            .upcoming-meeting(*ngFor="let obj of meetsThisWeek")
              .clickable([routerLink]="['/one-on-ones', obj.id]")
                .avatar-user
                  .avatar-name
                    | {{ obj.other_party.display_name.split(' ')[0].charAt(0) }}
                    | {{ obj.other_party.display_name.split(' ')[1].charAt(0) }}
                .inline-block.details.text-justify
                  span.employee-name {{ obj.other_party.display_name.split(' ')[0] }}
                  span.facilitator-label(*ngIf="obj.other_party.show_facilitator_label") Facilitator
                  span.check-icon(*ngIf="obj.status == 'done'") &#10003;
                  br
                  span.date-day {{ obj.scheduled_at | date: 'EEEE ' : 'EDT'  | uppercase }}
                  span.date {{ obj.scheduled_at | date: 'MMMM d' : 'EDT'  | uppercase }}

          #past-meetings
            h4.section-heading.due-label Due
            .no-content(*ngIf="meetsOnDue?.length == 0")
              br
              br
              span.text-muted No due meetings yet.
            .due-meeting(*ngFor="let obj of meetsOnDue")
              .clickable([routerLink]="['/one-on-ones', obj.id]")
                .avatar-user
                  .avatar-name
                    | {{ obj.other_party.display_name.split(' ')[0].charAt(0) }}
                    | {{ obj.other_party.display_name.split(' ')[1].charAt(0) }}
                .inline-block.details.text-justify
                  span.employee-name {{ obj.other_party.display_name.split(' ')[0] }}
                  span.facilitator-label(*ngIf="obj.other_party.show_facilitator_label") Facilitator
                  span.check-icon(*ngIf="obj.status == 'done'") &#10003;
                  br
                  span.date-day {{ obj.scheduled_at | date: 'EEEE ' : 'EDT' | uppercase }}
                  span.date {{ obj.scheduled_at | date: 'MMMM d' : 'EDT' | uppercase }}
            br

        #my-team-pulse.col-md-12.mb-5
          .row
            .col-md-6
              h3.header-title My Team's Pulse
            .col-md-6.text-right
              #date-range
                span.font-bold {{ daterange.date_since | date : 'MMM d'}} - {{ daterange.date_until | date : 'MMM d'}}&nbsp;&nbsp;
                button.btn.btn-instant-feedback.btn-daterange(type="button", daterangepicker, [options]="daterangeOpts", (selected)="selectedDate($event)")
                  .icon-calendar.icon-sm.inline-block
                  .icon-down-nav.icon-xs.inline-block
            .col-md-12
              .mt-2
                .row
                  .col-md-4
                    .card.h-100([ng2-loading]="pulseLoading")
                      .card-body
                        h4 Happy
                        hr
                        .card-content(*ngFor="let user of pulseHappy")
                          span(*ngIf="user['user']['id'] == currentUser['id']") {{ user['user']['display_name'] }}
                          button.btn-action(*ngIf="user['user']['id'] != currentUser['id']", [routerLink]="['/profile', user['user']['id'], 'overview']")
                            u {{ user['user']['display_name'] }}
                          span.ti-arrow-up.text-green.float-right(*ngIf="user.mood == 'up'")
                        .text-center(*ngIf="pulseHappy.length < 1")
                          h6 No users
                  .col-md-4
                    .card.h-100([ng2-loading]="pulseLoading")
                      .card-body
                        h4 Not Happy
                        hr
                        .card-content(*ngFor="let user of pulseSad")
                          span(*ngIf="user['user']['id'] == currentUser['id']") {{ user['user']['display_name'] }}
                          button.btn-action(*ngIf="user['user']['id'] != currentUser['id']", [routerLink]="['/profile', user['user']['id'], 'overview']")
                            u {{ user['user']['display_name'] }}
                          span.ti-arrow-down.text-red.float-right(*ngIf="user.mood == 'down'")
                        .text-center(*ngIf="pulseSad.length < 1")
                          h6 No users

            .col-md-12
              .mt-2
                .row
                  .col-md-4(*ngFor="let question of pulseQuestions")
                    .card.h-100([ng2-loading]="pulseLoading")
                      .card-body
                        h4.text-center {{ question.message }}
                        hr
                        .card-content(*ngFor="let user of question.users")
                          span(*ngIf="user['user']['id'] == currentUser['id']") {{ user['user']['display_name'] }}
                          button.btn-action(*ngIf="user['user']['id'] != currentUser['id']", [routerLink]="['/profile', user['user']['id'], 'overview']")
                            u {{ user['user']['display_name'] }}
                          span.mr-1.ti-layout-line-solid.mr-1.float-right(*ngIf="!user.mood")
                          img.float-right(*ngIf="user.mood == 'happy'", src="assets/images/happy-face.png")
                          img.float-right(*ngIf="user.mood == 'sad'", src="assets/images/sad-face.png")
                        .text-center(*ngIf="question.users.length < 1")
                          h6 No users
                    .mb-5
