#pagination .btn-pagination {
  background-color: #F9F9F9;
  padding: 0.594rem 0.75rem;
  border: 0.5px solid #BBBBBB;
  border-radius: 4px;
  color: #C3BAAA;
  min-width: 56px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

#pagination-pages {
  margin: 0 0.5rem;
}

#pagination-pages > li {
  display: inline-block;

  &:last-child button {
    border-right: 0.5px solid #BBBBBB;
    border-radius: 0 4px 4px 0;
  }

  &:first-child button {
    border-radius: 4px 0 0 4px;
  }
}

#pagination-pages > li > button {
  color: #7D7C7A;
  border-right: 0;
  border-radius: 0;
  min-width: 36px;
}

#pagination .btn-pagination.active,
#pagination .btn-pagination:hover, 
#pagination .btn-pagination:focus {
  background-color: #C3BAAA;
  color: #fff;
  font-weight: bold;

  > span.icon-holder {
    font-weight: bolder;
  }
}