.row
  .col-md-12
    h2.title Questions
  .col-md-12.text-right
    button.btn.btn-instant-feedback.btn-instant-feedback-primary([routerLink]="['/questions/add']")
      span.icon-holder.ti-plus
      span Add a Question
  .col-md-12
    .alert.alert-danger(*ngIf="errorMsg") {{ errorMsg }}
    table.table.table-instant-feedback([ng2-loading]="loading")
      thead
        tr
          th
            span Question
          th
            span Frequency
          th
            span Time
          th
            span
      tbody
        tr(*ngFor="let question of questions; let idx = index")
          td
            span {{ question.message }}
          td
            span.text-capitalize {{ question.frequency }}
          td
            span([innerHtml]="question.asking_datetime ? formatTime(question.asking_datetime) + ' EST' : '-'")
          td.actions
            ng-container(*ngIf="question.allow_changes")
              a([routerLink]="['/questions', question.id]")
                .icon-edit.icon-sm.icon-holder
              a((click)="remove(question.id, idx)")
                .icon-remove.icon-sm.icon-holder