#side-menu-form([@slideInOut]="menuState")
  .side-menu-content
    .container
      .row
        .col-md-10.mr-auto.ml-auto
          .row
            .col-md-12.mr-auto.ml-auto
              .vertical-align.almost-full-height
                .table-cell
                  ng-content(*ngIf="feedbackState == 'ask'", select="[feedback=ask]")
                  ng-content(*ngIf="feedbackState == 'give'", select="[feedback=give]")
                  ng-content(*ngIf="!feedbackState")
    .actions
      .m-auto.text-center
        ng-container(*ngIf="feedbackState")
          button.btn.btn-round.btn-instant-feedback-cancel((click)="onCancel()")
            u Cancel
          button.btn.btn-round.btn-instant-feedback-brown((click)="onSubmit(form.value)")
            span Submit

        ng-container(*ngIf="!feedbackState")
          button.btn.btn-round.btn-instant-feedback-brown((click)="onCancel()")
            span Close