.bg-white {
  background-color: #fff;
}

.bg-lightbrown {
  background-color: #f8f7f5;
}

.font-poppin {
  font-family: 'Poppins', sans-serif !important;
}

#user-overview {
  margin-top: 5rem;
}

#user-overview .details {
  vertical-align: top;
  margin-left: 1rem;

  h1 {
    @extend .font-poppin;
    font-size: 2.25rem;
  }
}

#user-overview .avatar-user {
  width: 93px;
  height: 94px;

  .avatar-name {
    font-size: xx-large;
    line-height: 94px;
  }
}

.user-overview-options {
  font-size: 1rem;

  > li {
    display: inline-block;
    border-bottom: 8px solid transparent;
  }

  > li.is-active > a, > li.is-active > button {
    background-color: transparent;
    border: 0;
    
    color: inherit;
    padding: 0.75rem 1rem 0.25rem;

    &.active {
      border-bottom: 5px solid #7d7c7a;
      font-weight: bold;
    }
  }

  > li.is-active > button.active {
    color: #C3BAAA;
  }
}

.btn-instant-feedback-link {
  padding: 6px 13px;
  background-color: #000;
  color: #C3BAAA;
  font-size: 16px;
  border-radius: 10px;
}

.form-header-text {
  font-size: 1.5rem;
  font-weight: 300;
}
.form-header-text select {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: auto;
}

#existing-questions {
  .choice {
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;

    &.selected {
      background-color: #E1DCD4;
    }
  }
}

.hidden {
  display: none;
}

#question-form {
  label {
    font-size: 16px;
    color: #C3BAAA;
  }

  #existing-questions, #custom-question {
    clear: both;
  }

  .bordered-bottom {
    border-bottom: 2px solid #F5F5F2;
    margin-bottom: 30px;

    &.is-invalid {
      border-bottom: 1px solid #d1211a;
    }
  }
  .spacer { height: 45px; }

  textarea {
    resize: none;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 50px;
  }

}
