@import '../../../styles/stylesheets/libs/vars';
@import '../../../styles/stylesheets/libs/typography';

.bg-white {
  background-color: $white;
}

.bg-brown {
  background-color: $brown;
}

.bg-lightbrown {
  background-color: rgba(195, 186, 170, 0.1);
}

#user-overview {
  margin-top: 5rem;
}

#user-overview .details {
  vertical-align: top;
  margin-left: 1rem;

  h1 {
    font-size: 2.25rem;
  }
}

#user-overview .avatar-user {
  width: 93px;
  height: 94px;

  .avatar-name {
    font-size: xx-large;
    line-height: 94px;
  }
}

.user-overview-options {
  font-size: 1rem;

  > li {
    display: inline-block;
    border-bottom: 8px solid transparent;
  }

  > li.is-active > a, > li.is-active > button {
    background-color: transparent;
    border: 0;
    
    color: inherit;
    padding: 0.75rem 1rem 0.25rem;

    &.active {
      border-bottom: 5px solid #7d7c7a;
      font-weight: bold;
    }
  }

  > li.is-active > button.active {
    color: $lightBrown;
  }
}

.btn-instant-feedback-link {
  padding: 6px 13px;
  background-color: $black;
  color: $lightBrown;
  font-size: 16px;
  border-radius: 10px;
}

.form-header-text {
  @extend .font-barlow;
  font-size: 26px;
  letter-spacing: -0.62px;
  line-height: 31px;
}

.form-header-text select {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: auto;
}

.feedback-question {
  font-size: 26px; 
  font-weight: bold;
  line-height: 31px;
}

.feedback-comment {
  font-size: 26px;
  letter-spacing: 0.08px;
  line-height: 34px;
}

#existing-questions {
  .choice {
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;

    &.selected {
      background-color: #E1DCD4;
    }
  }
}

.hidden {
  display: none;
}

#question-form {
  label {
    font-size: 16px;
    color: $lightBrown;
  }

  #existing-questions, #custom-question {
    clear: both;
  }

  .bordered-bottom {
    border-bottom: 2px solid #F5F5F2;
    margin-bottom: 30px;

    &.is-invalid {
      border-bottom: 1px solid #d1211a;
    }
  }
  .spacer { height: 45px; }

  .form-group-box label {
    color: #000000;
    font-weight: bold;
  }

  .form-group-box textarea.form-control-line {
    height: 117px;
    border: 1px solid $lightBrown;
    border-radius: 6px;
    padding: 15px;
    margin-top: 6px;

    &:focus {
      border-width: 2px;
    }
  }

  .form-group-box {
    margin-bottom: 50px;
  }

}
