.row.m-0
  .col-md-12.p-0.bg-white
    .row
      .col-md-9.m-auto
        #user-overview
          .avatar-user
              .avatar-name
                | {{ currentUser.initials() }}
          .inline-block.details
            h1.text-brown.font-bold {{ currentUser.display_name }}
            h4.text-capitalize {{ currentUser.role }} Team
            button.btn.btn-instant-feedback.btn-instant-feedback-link((click)="sideMenuState = 'in'; feedbackState = 'ask'") Ask for Feedback
            | &nbsp; &nbsp;
            button.btn.btn-instant-feedback.btn-instant-feedback-link((click)="sideMenuState = 'in'; feedbackState = 'give'") Give Feedback

      .col-md-9.m-auto
        br
        br
        br
        ul.reset#user-overview-options
          li.is-active
            a([routerLink]="['/employee/overview']" routerLinkActive="active") Overview
          li.is-active
            a([routerLink]="['/employee/one-on-ones']" routerLinkActive="active") 1-on-1s
          li.is-active
            a([routerLink]="['/employee/feedback']" routerLinkActive="active") Feedback
  .col-md-12.p-0
    .row
      .col-md-9.m-auto
        .mt-5
          router-outlet

side-menu([(menuState)]="sideMenuState", [(feedbackState)]="feedbackState", (cancel)="toggleSideMenuState($event)")
  div(feedback="ask")
    h2 Ask feedback
  form(feedback="give")
    .form-header-text Help and improve
      select.form-control.inline-block
        option(value="", disabled="true") Choose a User
        option(*ngFor="let user of users", [value]="user.id") {{ user.display_name }}
      | with your feedback:
    br
    br
    .form-group-box
      textarea.form-control.form-control-line(type="text")
      label Your feedback