:host {
  background: #fff;
  position: fixed;
  right: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9998;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -71px;
}

.col-md-6 {
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
}

#discuss-multi-form-footer {
  background-color: #000;
  color: #7c7b79;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: auto;
  z-index: 9999;
  height: 71px;
}

#discuss-multi-form-footer .point-page {
  border-radius: 50%;
  background-color: #333;
  font-size: x-large;
  font-weight: bold;
  margin: 5px 15px 0;
  text-align: center;
  width: 38px;

  &.active {
    background-color: #c2baaa;
    color: #000;
  }
}

#discuss-multi-form-footer .review {
  margin: 5px 15px 0;
  font-size: large;
}

#discuss-multi-form-footer .btn-actions {
  margin: 0 15px;

  .btn-instant-feedback {
    font-size: large;
    padding: 4px 12px;
    margin: 3px 15px 0;
  }

  .btn-instant-feedback-cancel {
    color: #fff;
    font-weight: 300;
  }
}

#listItems .user-item-container {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#listItems .user-item-container > .item-list {
  color: #C3BAAA;
  font-size: xx-large;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 1.5rem;
}

#listItems .user-item-container > .item-list  span, #listItems .user-item-container > .item-list  input {
  color: initial;
  font-size: 18px;
  display: inline-block;
  width: calc(100% - 15%);
}

#listItems .user-item-container > .item-list  span {
  vertical-align: middle;
}

#listItems .user-item-container > .item-list  input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  height: auto;
}

#listItems .user-item-container > .item-list .item-actions {
  position: absolute;
  top: 0;
  right: 0;

  > button > span {
    font-size: 14px;
  }
}