:host {
  background: #fff;
  position: fixed;
  right: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9998;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -71px;
}

.col-md-6 {
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
}

#discuss-multi-form-footer {
  background-color: #000;
  color: #7c7b79;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
}

#discuss-multi-form-footer .point-page {
  border-radius: 50%;
  background-color: #333;
  font-size: x-large;
  font-weight: bold;
  margin: 5px 15px 0;
  text-align: center;
  width: 38px;

  &.active {
    background-color: #c2baaa;
    color: #000;
  }
}

#discuss-multi-form-footer .review {
  margin: 5px 15px 0;
  font-size: large;
}

#discuss-multi-form-footer .btn-actions {
  margin: 0 15px;

  .btn-instant-feedback {
    font-size: large;
    padding: 4px 12px;
    margin: 3px 15px 0;
  }

  .btn-instant-feedback-cancel {
    color: #fff;
    font-weight: 300;
  }
}

#discuss-multi-form-footer {
  li.menu-item {
    font-family: "MADE Evolve Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin: 10px 20px;
    &.active {
      color: #C3BAAA;
    }
  }
}

.form-control {
  border: 1px solid #E9EFF4;
  border-radius: 4px;
  font-size: 14px;
  color: #323C47;
  letter-spacing: -0.17px;
  line-height: 27px;
  padding: 10px 21px;
  font-weight: 300;
  height: 47px;
}

.input-group {
  width: 25%;
  display: inline-block;

  > .form-control {
    height: 35px;
    width: auto;
    display: inline-block;
  }

  .icon-holder {
    height: 21px;
    width: 21px;
  }

  .input-group-text {
    background: rgba(244,247,249,0.40);
    border: 1px solid #E9EFF4;
  }
}

.btn-change {
  font-size: large;
  font-weight: 300;
  text-decoration: underline;
  color: #000;
}

#edit-date-icon {
  font-size: 18px;
  padding: 3px 10px 0 5px;
}

.time-picker {
  padding: 0px 30px;
}

.btn-instant-feedback {
  font-size: large;
  padding: 4px 12px;
  margin: 3px 15px 0;
}

#add-to-calendar {
  input, label {
    color: #7D7C7A;
    font-size: 18px;
    font-weight: 500;
  }
}
