.page-data-content
  .row
    .col-md-12
      h2.title Responses
    .col-md-12
      search-filters(
        [questions]="questions",
        [answers]="answers",
        [users]="users",
        [loading]="loading",
        (submit)="search($event)"
      )
      hr.divider
    .col-md-12
      span.total-results Showing&nbsp;
        span.font-bold {{ recordShownCount }}&nbsp;
        | of 
        span.font-bold {{ recordCount }}&nbsp;
        | results
    .col-md-10.m-auto
      table.table.search-results.mt-md-4
        thead
          tr
            td
              button
                span.name Name
                span.icon-holder.ti-arrow-up
            td
              button
                span.name Question
            td.text-center
              button
                span.name Answer
            td
              button
                span.name Date
                span.icon-holder.ti-arrow-up
        tbody
          ng-container(*ngIf="!loading && collection.length <= 0")
            tr
              td.text-center(colspan="4")
                span No results found
          ng-container(*ngIf="!loading && collection.length > 0")
            tr(*ngFor="let obj of collection | paginate: { id: 'responseResults', itemsPerPage: page['size'], currentPage: page['number'], totalItems: recordCount}")
              td
                span {{obj.user}}
              td
                span {{ obj.question }}
              td.text-center
                ng-container(*ngIf="obj.answer == 'happy'")
                  .answer.icon-happy.icon-sm
                ng-container(*ngIf="obj.answer == 'sad'")
                  .answer.icon-sad.icon-sm
                ng-container(*ngIf="obj.answer == 'idle'")
                  span NO ANSWER - IDLE
                ng-container(*ngIf="obj.answer == 'x'")
                  span NO ANSWER - X
              td
                span {{ obj.created_at | date: 'MM/dd/yyyy' }}
    .col-md-12.text-right
      pagination-controls#responseResults(
        (pageChange)="changePage($event)",
        maxSize="5",
        directionLinks="true",
        screenReaderPageLabel="page")

