.page-data-content
  .row
    .col-md-12
      h2.title Responses
    .col-md-12
      search-filters([questions]="questions", [answers]="answers")
      hr.divider
    .col-md-12
      span.total-results Showing&nbsp;
        span.font-bold 1-20&nbsp;
        | of 
        span.font-bold 220&nbsp;
        | results
    .col-md-10.m-auto
      table.table.search-results.mt-md-4
        thead
          tr
            td
              button
                span.name Name
                span.icon-holder.ti-arrow-up
            td
              button
                span.name Question
            td.text-center
              button
                span.name Answer
            td
              button
                span.name Date
                span.icon-holder.ti-arrow-up
        tbody
          tr
            td
              span Vera Hogan
            td
              span How was scrum today?
            td.text-center
              img.answer(src="/assets/happy-draw-black.png")
            td
              span 9/12/2018


