button.disabled {
  pointer-events: none;
}

.btn-instant-feedback {
  font-size: 14px;
  font-weight: 700;
  font-family: "MADE Evolve Sans", sans-serif;
  border-radius: 4px;
  padding: 13px 10px;

  &.btn-md {
    border-radius: 12px;
    font-size: 18px;
    letter-spacing: 0;
    padding: 8px 16px;
  }

  &.btn-sm {
    border-radius: 12px;
    letter-spacing: 0;
    padding: 7px 12px;
  }

  > span.icon-holder {
    font-size: 10px;
    font-weight: 700;
    margin-right: 3px;
  }
}

.btn-instant-feedback-primary {
  color: $white;
  background-color: $lightBrown;
  border: 1px solid $lightBrown;
}

.btn-instant-feedback-muted {
  background-color: transparent;
  opacity: 0.45;
  font-weight: normal;
  font-size: 12px;
  color: $btn-muted;
  letter-spacing: 0;
}

.btn-instant-feedback-dark {
  color: $lightBrown;
  background-color: $black;
  border: 1px solid $black;
}

.btn-instant-feedback-brown {
  color: $black;
  background-color: $lightBrown;
  border: 1px solid $lightBrown;
}

.btn-instant-feedback-brown-outline {
  color: $black;
  background-color: transparent;
  border: 1px solid $lightBrown;
  &.is-active {
    color: white;
    background-color: $lightBrown;
    border: 1px solid $lightBrown;
  }
}

.btn-instant-feedback-semi-dark {
  color: $lightBrown;
  background-color: $lightBlack;
  border: 1px solid $lightBlack;
}

.btn-instant-feedback-cancel {
  color: $muted;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-circle-add {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $lightBrown;

  > span {
    color: $lightBrown;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }
}

.btn-action {
  background-color: transparent;
  border: 0;
  margin-right: 7px;
  outline: none;
  padding: 0;
}
