.form-bg-yellow {
  background-color: $lightYellow;
  border: 0 !important;
  border-radius: 8px !important;

  &:focus {
    background-color: $lightYellow;
  }
}

.form-bg-yellow::placeholder {
  color: $muted;
}

.form-control-md {
  padding: 1.5rem 1.5rem;
  font-size: medium;
}