.user-male {
  background-image: url("../icons/if_users-15_984108.png");
}

.user-female {
  background-image: url("../icons/if_users-16_984113.png");
}

.icon-sm {
  height: 50px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-md {
  height: 100px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-lg {
  height: 150px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
