.user-male {
  background-image: url("../icons/if_users-15_984108.png");
}

.user-female {
  background-image: url("../icons/if_users-16_984113.png");
}

.icon-feedback {
  background-image: url("../icons/feedback-white.png");
}

.icon-happy {
  background-image: url("../icons/happy-draw-black.png");
}

.icon-sad {
  background-image: url("../icons/sad-draw-black.png");
}

.icon-edit {
  background-image: url("../icons/edit.png");
}

.icon-remove {
  background-image: url("../icons/remove.png");
}

.icon-calendar {
  background-image: url("../icons/calendar.png");
}

.icon-check-green {
  background-image: url("../icons/check-green.png");
}

.icon-sm {
  height: 50px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-md {
  height: 100px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-lg {
  height: 150px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
