.action-item-list {
  color: #C3BAAA;
  font-size: xx-large;
  padding-left: 1.75rem;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.action-item-list  span, .action-item-list  input {
  color: initial;
  font-size: 18px;
  display: inline-block;
  width: calc(100% - 15%);
}

.action-item-list  span {
  position: relative;
  top: -5px;
}

.action-item-list  input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  height: auto;
}