nav.navbar {
  .navbar-menu {

    font-size: 2rem;
    line-height: 1em;
  }

  a {
    color: #6e6d6c;
  }

  .nav-item.active{
    color: #FFF;
  }

  .img-fluid.profile-photo {
    width: 100%;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .logo {
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 17px 18px;
    margin-right: 50px;
  }
}

.bg-dark-custom{
  background-color: rgb(51, 51, 51);
}
