nav.navbar {
  padding-bottom: 0;
  .navbar-menu {
    font-size: 2rem;
    line-height: 1em;
  }

  .nav-item {
    line-height: 24px;
    margin-right: 13px;

    a {
      color: #fbfbfb;
      letter-spacing: 0;
      opacity: 0.3;

      &.active {
        color: #FFF;
        font-weight: 300;
        opacity: 1;
      }
    }
  }

  .nav-item.has-active > a.active {
    border-bottom: 7px solid  #7D7C7A;
  }

  .img-fluid.profile-photo {
    width: 100%;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .logo {
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 17px 18px;
    margin-right: 50px;
    margin-bottom: 0.5rem;
  }
}

.bg-dark-custom{
  background-color: rgb(51, 51, 51);
}
