nav.navbar {
  padding-bottom: 0;
  .navbar-menu {
    font-size: 2rem;
    line-height: 1em;
  }

  .nav-item {
    line-height: 24px;
    margin-right: 13px;

    .nav-link {
      color: #fbfbfb;
      letter-spacing: 0;
      opacity: 0.3;
      cursor: pointer;

      &.active, &:hover, &:focus, &:active {
        color: #FFF;
        font-weight: 300;
        opacity: 1;
      }
    }
  }

  .nav-item.has-active > .active, .dropdown.has-active > .dropdown-toggle {
    border-bottom: 7px solid  #7D7C7A;
  }

  .img-fluid.profile-photo {
    width: 100%;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .logo {
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 17px 18px;
    margin-right: 50px;
    margin-bottom: 0.5rem;
  }
}

.bg-dark-custom{
  background-color: rgb(51, 51, 51);
}

.dropdown:hover .dropdown-toggle, .dropdown.has-active > .dropdown-toggle {
  color: #FFF !important;
  font-weight: 300;
  opacity: 1 !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu {
  background-color: #7D7C7A;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 0;
  min-width: 190px;
  z-index: 1;
}

.dropdown .dropdown-menu .dropdown-item {
  padding: 12px 16px;
  color: #F9FBF2;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.dropdown .dropdown-item.active, .dropdown .dropdown-item:active, 
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover {
  background-color: inherit !important;
}