.table-instant-feedback th, .table-instant-feedback td {
  padding-left: 5rem;
  padding-right: 5rem;
}
.table-instant-feedback th {
  border-top: 0;
  border-bottom: 2px solid #3333335c !important;
  color: #33333380 !important;
  font-size: 14px;
}

.table-instant-feedback td {
  font-size: 14px;
  color: $main-color;
  letter-spacing: 0;
  line-height: 3rem !important;
  border-top: 0;
  border-bottom: 1px solid #c3baaa5c;
}

.table-instant-feedback td.actions {
  text-align: center;

  a {
    margin-right: 17px;
    cursor: pointer;
    .icon-holder {
      width: 13px;
      height: 17px;
      display: inline-block;
    }
  }
}