ng-container
  form.mt-3(#ngForm="ngForm" automcoplete="off", novalidate, [formGroup]="talkingPointForm", (ngSubmit)="submit(talkingPointForm.value)")
    .enter-tp Enter your talking point:
    input.form-control.input-lg.form-edit([class.is-invalid] = "ngForm.submitted && t.talking_point.errors", type="text", formControlName="talking_point", value="{{question}}")
    .invalid-feedback

    br
    br
    br
    br

    button(type="submit").save Save
