ng-container
  form.mt-3(form="talkingPointForm" automcoplete="off", novalidate, [formGroup]="talkingPointFormGroup", (ngSubmit)="submit(talkingPointForm.value)")
    .enter-tp Enter yout talking point:
    input.form-control.input-lg.form-edit([class.is-invalid] = "talkingPointForm.submitted && t.talking_point.errors", type="text", formControlName="talking_point", value="{{question}}")
    .invalid-feedback

    br
    br
    br
    br

    button(type="submit").save Save
