.form-edit {
  background: none;
  border: none;
}

.input-lg {
  font-size: 2.5rem;
  color: #4a4a4a;
  line-height: 1.2;
  font-weight: bold;
}

.save {
  height: 38px;
  width: 83px;
  border: 1px solid #4A4A4A;
  border-radius: 4px;
  background: none;
}

.enter-tp {
  height: 28px;
  width: 321px;
  color: #979797;
  font-family: "MADE Evolve Sans";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 28px;
}
