.row
  .col-md-9.m-auto
    .mt-5
      .row
        .col-md-6
          h4.font-bold.text-brown.mb-5 Action Items

          .action-items-scroll
            .action-items-box(*ngFor="let obj of past_meetings; let idx = index", [ng2-loading]="loading")
              div((mouseover)="hoverActionItemIdx=idx", (mouseout)="hoverActionItemIdx=null")
                h4.font-bold.inline-block {{ obj.actual_schedule | date: 'MMMM d, y'}}
                .inline-block.ml-2(*ngIf="obj.action_items.employee.length > 0")
                  button.btn-instant-feedback.btn-instant-feedback-cancel.btn-action.font-weight-light([class.hidden]="hoverActionItemIdx != idx", (click)="clearItem(obj, idx)") Clear Action Items
                br
                br
                ng-container(*ngIf="obj.action_items.employee.length <= 0")
                  ul.action-item-list.reset
                    li
                      span.text-muted No action items
                ng-container(*ngIf="obj.action_items.employee.length > 0")
                  ul.action-item-list
                    li(*ngFor="let action of obj.action_items.employee")
                      span {{ action }}
                br

        .col-md-6
          h4.font-bold.text-brown.mb-5 1-on-1s

          #upcoming-meetings.mb-5
            h4.font-bold.text-indigo Upcoming

            .upcoming-meeting-item.mb-3(*ngFor="let obj of upcoming_meetings | slice:0:3")
              button([routerLink]="['/employee/one-on-ones', obj.id]")
                .mr-1.inline-block
                  .avatar-user
                    .avatar-name
                      | {{ obj?.employee?.display_name.split(" ")[0].charAt(0) }}
                      | {{ obj?.employee?.display_name.split(" ")[1].charAt(0) }}
                  .avatar-user
                    .avatar-name
                      | {{ obj?.manager?.display_name.split(" ")[0].charAt(0) }}
                      | {{ obj?.manager?.display_name.split(" ")[1].charAt(0) }}
                .inline-block.details.text-justify
                  span.text-brown.font-bold.underline {{ past_meeting_text(obj) }}
                  br
                  span.date {{ obj.set_schedule | date: 'MMMM d, y' }}
          #past-meetings
            h4.font-bold.text-indigo Past

            .past-meeting-item(*ngFor="let obj of past_meetings | slice:0:3")
              button([routerLink]="['/employee/one-on-ones', obj.id]")
                ul.reset.list
                  li
                    button
                      span.mr-3.underline.font-bold.text-brown {{ past_meeting_text(obj) }}
                      span {{ obj.actual_schedule | date: 'MMMM d, y' }}

modal(
  [(visible)]="showModal",
  [(currentSession)]="currentSession",
  [(modalText)]="modalText",
  [(buttons)]="modalButtons",
  (modalStateChange)="modalStateChange($event)",
  (removeItems)="removeItems($event)"
)
