.font-poppin {
  font-family: 'Poppins', sans-serif !important;
}

.hidden {
  display: none;
}

#upcoming-meetings .avatar-user {
  width: 58px;
  height: 56px;

  .avatar-name {
    font-size: initial;
    line-height: 56px;
  }

  &:last-child {
    right: 7%;
  }
}

#upcoming-meetings .upcoming-meeting-item > button > .details {
  vertical-align: middle;

  span.date {
    font-size: initial;
    font-weight: 300;
  }
}

#past-meetings .past-meeting-item button,
#past-meetings .past-meeting-item > .list button, 
#upcoming-meetings > .upcoming-meeting-item button {
  background-color: transparent;
  border: 0;
  font-size: initial;
  outline: none;
  padding: 0;
}

span.underline {
  text-decoration: underline;
  font-size: 1.15rem;
}