#talking-point-container.mr-auto.wrapper
  .vertical-align.set-height
    .table-cell
      h1.font-bold {{ discussions[idx]?.question }}

      .employee-notes
        ng-container(*ngIf="!discussions[idx]?.employee_notes")
          br
          p.text-justify {{ discussions[idx]?.employee_name }} didn't add any notes.
        ng-container(*ngIf="discussions[idx]?.employee_notes")
          ul.reset
            li
              p.font-bold.mb-1 {{ discussions[idx]?.employee_name }}'s Note
            li
              p.text-justify {{ discussions[idx]?.employee_notes }}
#listItems
  ul.item-options.reset
    li.inline-block
      button.btn-instant-feedback.btn-instant-feedback-cancel.btn-customize.active
        span Action Items
    li.inline-block
      button.btn-instant-feedback.btn-instant-feedback-cancel.btn-customize
        span General Notes
  .user-item-container
    h5.font-bold.text-idle Chan's Items
    form.mt-3(automcoplete="off", novalidate)
      input.form-control.form-bg-yellow.form-control-md(type="text" placeholder="Add an action item here")
    ul.item-list
      li.relative
        span spend 4h on fridays on personal project
        .item-actions
          button.btn-action()
            span.ti-pencil
          button.btn-action()
            span.ti-trash
      li
        span learn new technology
      li
        span YAKSA presentation
  br
  .user-item-container
    h5.font-bold.text-idle Myles' Items
    form.mt-3(automcoplete="off", novalidate)
      input.form-control.form-bg-yellow.form-control-md(type="text" placeholder="Add an action item here")
    ul.item-list
      li
        span help Chan with YAKSA presentation
#discuss-multi-form-footer
  .row
    .col-md-6
      ul.reset
        li.inline-block.point-page(*ngFor="let discuss of discussions; let i = index", [class.active]=" i == idx")
          span {{ i + 1}}
    .col-md-6
      .btn-actions.text-right
        button.btn-instant-feedback.btn-instant-feedback-cancel(*ngIf="idx == 0", (click)="cancel()")
          span Cancel
        button.btn-instant-feedback.btn-instant-feedback-cancel(*ngIf="idx != 0", (click)="prevPoint()")
          span Previous
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="idx != (discussions.length-1)", (click)="nextPoint()")
          span Next
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="idx == (discussions.length-1)", (click)="nextPoint()")
          span Review Summary