:host {
  background: #e1dcd9;

  position: fixed;
  right: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9997;
}

.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}

#talking-point-container {
  .table-cell {
    width: 75%;
    padding-left: 13%;
    padding-right: 13%;
  }

  .table-cell h1 {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 1.3;
  }
}

.set-height {
  height: calc(100vh - 71px);
}

#talking-point-container .employee-notes {
  font-size: 18px;
  margin-top: 3.5rem;
}

#listItems {
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.24);
  background-color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3rem;
  padding-right: 3rem;
  overflow-y: auto;
}

#listItems .item-options {
  border-bottom: 1px solid #ebebeb;

  .btn-customize {
    font-size: 1.1rem;
    font-weight: 300;
    margin-right: 5px;
  }

  .btn-customize.active {
    font-weight: bold;
    color: #C3BAAA;
  }
}

#listItems .user-item-container {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#listItems .user-item-container > .item-list {
  color: #C3BAAA;
  font-size: xx-large;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 1.5rem;
}

#listItems .user-item-container > .item-list  span, #listItems .user-item-container > .item-list  input {
  color: initial;
  font-size: 18px;
  display: inline-block;
  width: calc(100% - 15%);
}

#listItems .user-item-container > .item-list  span {
  vertical-align: middle;
}

#listItems .user-item-container > .item-list  input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  height: auto;
}

#listItems .user-item-container > .item-list .item-actions {
  position: absolute;
  top: 0;
  right: 0;

  > button > span {
    font-size: 14px;
  }
}

#footer-menu {
  background-color: #000;
  color: #7c7b79;
  padding: 15px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

#footer-menu .point-page {
  border-radius: 50%;
  background-color: #333;
  font-size: x-large;
  font-weight: bold;
  margin: 5px 15px 0;
  text-align: center;
  width: 38px;

  &.active {
    background-color: #c2baaa;
    color: #000;
  }
}

#footer-menu .review {
  margin: 5px 15px 0;
  font-size: large;
}

#footer-menu .btn-actions {
  margin: 0 15px;
  font-family: 'Karla';

  .btn-instant-feedback {
    font-size: large;
    padding: 4px 12px;
    margin: 3px 15px 0;
  }

  .btn-instant-feedback-cancel {
    color: #fff;
    font-weight: 300;
  }
}

#footer-menu {
  li.menu-item {
    font-family: "MADE Evolve Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin: 10px 20px;
    &.active {
      color: #C3BAAA;
    }
  }
}


#prev-action-items-container {

  .table-cell {
    width: 75%;
    padding-left: 10%;
    padding-right: 5%;

    .prev-item-title {
      color: #979797;
      font-family: "MADE Evolve Sans";
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 0.56px;
      line-height: 48px;
    }
    .previous-items {
      height: 50vh;
      width: 100%;
      overflow-y: hidden;
      font-family: "MADE Evolve Sans";
      padding-right: 20px;
      &:hover {
        overflow-y: scroll;
      }
      .user-items{
        span {
          font-size: 20px;
          font-family: "MADE Evolve Sans" !important;
        }
        .items {
          color: #4A4A4A;
          font-size: 20px;
        }
      }
    }
  }

  ::-webkit-scrollbar {
      width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px gray;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: gray;
      -webkit-box-shadow: inset 0 0 6px #C3BAAA;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  	background: gray;
  }

  .table-cell h1 {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 1.3;
  }
}
