.action-items-container .user-item-container {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-family: 'Made Evolve Sans';
}

.action-items-container .user-item-container > .item-list {
  color: #C3BAAA;
  font-size: 36px;
  line-height: 1.3;
  margin-top: 0.25rem;
}

.action-items-container .user-item-container > .item-list  span {
  color: initial;
  font-size: 18px;
  display: inline-block;
  width: calc(100% - 15%);
  position: relative;
  top: -5px;
}