#sidenav-search_filter.sidenav.open
  .row
    .col-md-12
      .row
        .col-auto
          h1.filter-title.m-0 Edit Filters
        .col-auto
          button.btn-filter.btn-border-none.m-0
            span Clear all filters
    .col-md-12
      br
      #daterange-filters
        button.btn-filter.btn-terms.active
          span Today
        button.btn-filter.btn-terms.ml-2.inline-block
          span This Week
        br
        button.btn-filter.btn-terms
          span This Month
        button.btn-filter.btn-terms.ml-2.inline-block
          span Date Range
      .opts-group-filter
        h5.filter-title.sub Date Range
        input.form-control(type="text" name="dateRangeInput" daterangepicker, [options]="options", (selected)="selectedDate($event, daterange)")
    .col-md-12
      .opts-group-filter
        h5.filter-title.sub Questions
        div
          ng-container(*ngFor="let question of questions")
            button.btn-filter.btn-terms.mr-2
              span {{ question }}
    .col-md-12
      .opts-group-filter
        h5.filter-title.sub Answers
        div
          ng-container(*ngFor="let answer of answers")
            button.btn-filter.btn-terms.mr-2
              span {{ answer }}
    .col-md-12
      .opts-group-filter
        h5.filter-title.sub Users
        input.form-control

#response-search-filter
  .mt-md-1
    .row
      .col-md-2#btn-add-filter
        button.btn-filter
          span Add Filter&nbsp;
          span.icon-holder.ti-plus
      .col-md-9
        .search-terms
          button.btn-filter.btn-terms
            span 04/08/2018 - 09/21/2018
            span.icon-holder.ti-close
          button.btn-filter.btn-terms
            span Q: Scrum Today
            span.icon-holder.ti-close
          button.btn-filter.btn-terms
            span Q: Mental Health
            span.icon-holder.ti-close
          button.btn-filter.btn-terms
            span A: Happy
            span.icon-holder.ti-close