//- .modal-overlay
.instant-feedback-modal([@openModal] *ngIf="visible")
  .instant-feedback-modal-content
    .instant-feedback-modal-body
      p([innerHtml]="modalText.body")

      .text-center
        button.btn-instant-feedback-modal-cancel(*ngIf="buttons.cancel", (click)="onCancel()") {{ buttons.cancel.text }}
        button.btn-instant-feedback-modal-confirm(*ngIf="buttons.confirm", (click)="onConfirm()") {{ buttons.confirm.text }}
