nav.navbar.navbar-expand-lg.bg-dark-custom
  .img-container
    .logo.icon-feedback.icon-sm
  #navbarsExample09.collapse.navbar-collapse
    ul.navbar-nav.mr-auto(*ngIf="userLogged && isManager")
      li.nav-item.has-active
        a.nav-link([routerLink]="['/dashboard']" routerLinkActive="active") Dashboard
      li.nav-item.has-active
        a.nav-link([routerLink]="['/responses']" routerLinkActive="active") Responses
      li.nav-item.has-active
        a.nav-link([routerLink]="['/questions']" routerLinkActive="active") Questions
      li.nav-item.has-active
        a.nav-link([routerLink]="['/one-on-ones']" routerLinkActive="active") 1-on-1s
      li.nav-item.has-active
        a.nav-link([routerLink]="['/assigned-questions']" routerLinkActive="active") Assigned Questions
    ul.navbar-nav.mr-auto(*ngIf="userLogged && !isManager")
      li.nav-item.has-active
        a.nav-link([routerLink]="['/dashboard']" routerLinkActive="active") Profile
    ul.navbar-nav.ml-auto(*ngIf="userLogged")
      li.nav-item
        a.nav-link.active((click)="logout()") Log Out