nav.navbar.navbar-expand-lg.bg-dark-custom

  //- a.navbar-menu.mr-2.font-bold((click)="toggleHamburger()")
  //-   i.ti-menu
  
  .img-container
    img.logo(src='../assets/feedback-white.png')
  #navbarsExample09.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#') Dashboard
      li.nav-item
        a.nav-link([routerLink]="['/responses']") Responses
      li.nav-item
        a.nav-link([routerLink]="['/questions']") Questions
