nav.navbar.navbar-expand-lg.bg-dark-custom
  .img-container
    .logo.icon-feedback.icon-sm
  #navbarsExample09.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.has-active
        a.nav-link([routerLink]="['/dashboard']" routerLinkActive="active") Dashboard
      li.nav-item.has-active
        a.nav-link([routerLink]="['/responses']" routerLinkActive="active") Responses
      li.nav-item.has-active
        a.nav-link([routerLink]="['/questions']" routerLinkActive="active") Questions
