.requestee-container .btn-instant-feedback {
  vertical-align: bottom;
}

.requestee-container {
  margin-bottom: 1.25rem;
}

.requestee-container > .requestee-content {
  width: 400px;

  > .text-muted {
    color: #c1bebb !important;
  }

  > .requestee-give-feedback {
    font-size: large;
    margin-top: 0.25rem;
  }
}

.feedback-list > .feedback {
  border-bottom: 1px solid #eeedeb;
  font-size: 1.05rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  img {
    width: 14px;
    height: 14px;
    margin-right: 12px;
    vertical-align: baseline;
  }
}

.feedback-list > .feedback p {
  color: #4A4A4A;
  font-family: "MADE Evolve Sans";
  font-size: 18px;
  line-height: 25px;
}

.feedback-list > .feedback .btn-action {
  font-family: "MADE Evolve Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.btn-daterange {
  background-color: transparent;
  color: #C3BAAA;
  padding: 0;
  margin: 0;

  > span.ti-calendar {
    font-size: 15px;
  }
}

#feedback-filters {
  position: relative;
  font-size: 1.05rem;

  > select {
    border: 0;
    background: transparent;
    font-weight: bold;
    font-size: 1.05rem;
  }
}

#mood-score {
  position: absolute;
  top: 0;
  right: 17px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
  width: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  span {
    color: #496584;
    font-family: Karla;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.27px;
    line-height: 19px;
    display: inline-block;
    margin: 16px auto;
  }

  img {
    width: 20px;
    height: 18px;
    margin-left: 14px;
  }
}
