.requestee-container .btn-instant-feedback {
  vertical-align: bottom;
}

.requestee-container {
  margin-bottom: 1.25rem;
}

.requestee-container > .requestee-content {
  width: 400px;

  > .text-muted {
    color: #c1bebb !important;
  }

  > .requestee-give-feedback {
    font-size: large;
    margin-top: 0.25rem;
  }
}

.feedback-list > .feedback {
  border-bottom: 1px solid #eeedeb;
  font-size: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.feedback-list > .feedback p {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  width: 100ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}