.col-md-12.p-0.bg-brown
  .row
    .col-md-9.m-auto
      .mt-5
        h3.font-bold.text-brown Requests for Feedback
        br
        .requestee-container
          .requestee-content.inline-block
            span.text-muted.font-size-13 26 mins ago
            br
            .requestee-give-feedback
              span.text-indigo.font-bold Abby&nbsp;
              span.font-semi-bold has requested for your feedback.
          button.btn-instant-feedback.btn-sm.btn-instant-feedback-semi-dark Give Feedback
        .requestee-container
          .requestee-content.inline-block
            span.text-muted.font-size-13 Yesterday
            br
            .requestee-give-feedback
              span.text-indigo.font-bold Herald&nbsp;
              span.font-semi-bold has requested for your feedback.
          button.btn-instant-feedback.btn-sm.btn-instant-feedback-semi-dark Give Feedback
        br

.col-md-12.p-0
  .row
    .col-md-9.m-auto
      .mt-5
        span from to your team